.footer {
    background-color: var(--header-color);
    color: var(--first-color);
    padding: 24px;
    text-align: center;
    font-family: var(--secondary-font);
    font-weight: 400;
    font-size: 1.5rem;
    width: 100%;
    height: 72px;
}


.footer__paragraph {
    text-align: center;
}


@media (max-width: 1200px) {
    
    .footer {
        padding: 18px;
        font-size: 0.75rem;
        height: 48px;
    }

}