@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400&display=swap');

:root {
    --first-color: #ffffff;
    --second-color: #000000;
    --third-color: #929292;
    --header-color: #292929;
    --github-color: #767f88;
    --github-hover-color: #484d52;
    --whatsapp-color: #1bd741;
    --whatsapp-hover-color: #0a7e21;
    --linkedin-color: #0a66c2;
    --linkedin-hover-color: #0a3b6c;

    --primary-font: 'Krona One', sans-serif;
    --secondary-font: 'Montserrat', sans-serif;
}

body {
    box-sizing: border-box;
    background-color: var(--first-color);
    color: var(--second-color);
    margin: 0 auto;
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
}

.main {
    padding: 1% 17%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/** ================= MEDIA QUERY ================= **/

@media (max-width: 1400px) {
    .header {
        padding: 5%;
    }

    .main {
        padding: 1% 5%;
        width: auto;
    }
}


@media (max-width: 1200px) {
    body {
        gap: 20px;
    }
}